<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>199027886158-u30cpu1celg8bvd26lcf3ebt5u5ltjqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199027886158-u30cpu1celg8bvd26lcf3ebt5u5ltjqp</string>
	<key>API_KEY</key>
	<string>AIzaSyB1d3rEBzL8M7eh85yTx9uis76LX0C2LYk</string>
	<key>GCM_SENDER_ID</key>
	<string>199027886158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fishing.ios</string>
	<key>PROJECT_ID</key>
	<string>fishing-2950a</string>
	<key>STORAGE_BUCKET</key>
	<string>fishing-2950a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199027886158:ios:645ab206e225a960</string>
	<key>DATABASE_URL</key>
	<string>https://fishing-2950a.firebaseio.com</string>
</dict>
</plist>